//- About Section
section#about.success
  div.container
    div.row
      div.col-lg-12.text-center
        h2 À propos
        hr.star-light
          
    div.row
      div.col-lg-4.col-lg-offset-2
        p Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
      div.col-lg-4
        p Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
      div.col-lg-8.col-lg-offset-2.text-center
        a.btn.btn-lg.btn-outline(href="#")
          <i class="fa fa-download"></i> Download Theme
                    
