//- About Section
section#about.success
  div.container
    div.row
      div.col-lg-12.text-center
        h2 À propos
        hr.star-light
    
    div.row
      div.col-lg-12.text-center
        img.profile(src='images/me-picture.jpg')
        br
        br
        br
        br
    div.row
      div.col-lg-4.col-lg-offset-2
        p.
          Etudiant en Master Informatique (Spécialisé en Analyse et Traitement de l'information),
          j'ai effectué ma scolarité à <strong>l'Université de Versailles, FRANCE.</strong> <br/>
          La formation est de qualité grâce à l'enseignement de profs expérimentés 
          dans leur domaine.
      div.col-lg-4
        p.
          J'ai été très vite connecté à mon premier PC et à internet, car j'étais faciné
          par cette curieuse machine qui nous permet de faire tant de choses.
          C'est naturellement que lorsque le choix des études s'est imposé à moi,
          que j'ai choisi la branche informatique. C'était cependant pas gagné d'avance.
      div.col-lg-8.col-lg-offset-2.text-center
        a.btn.btn-lg.btn-outline(href="docs/CV_Jeremie_Corpinot.pdf")
          <i class="fa fa-download"></i> Télécharger CV
                    
