div.nav_footer
  div.footer-text
    span 2014//2015 Jérémie Corpinot
    
  a.icon-footer(href='https://twitter.com/jeremiecorpinot', alt='@jeremiecorpinot')
    img(src='/icons/twitter_icon.png', alt='@jeremiecorpinot')
  
  a.icon-footer(href='https://github.com/rootasjey', alt='rootasjey')
    img(src='/icons/github_icon.png', alt='rootasjey')
  
  a.icon-footer(href='http://instagram.com/jeremiejoachim', alt='jeremiejoachim')
    img(src='/icons/instagram_icon.png', alt='jeremiejoachim')
  
  div.footer-ghost-text
    span.text 
