//- Grid layout
div#main-grid.grid
  //- div.grid-item.large
  //-   div.grid-item-bg(style="background: url('images/wallhaven_apollo_nasa_space.jpg');", data-stellar-background-ratio="0.5")
  //-   div.grid-item-txt.white
  //-     h3 FEATURED CONTENT
      
