//- Grid layout
div#main-grid.grid

  div.grid-item.large 
    div.grid-item-bg.blue
    div.grid-item-txt.white
      h3 FEATURED CONTENT
      
  div.grid-item.long
    div.grid-item-bg.white
    div.grid-item-txt.pink
      h3 Last blog content
      p.desc projet description deijejfrifrefr eferufhjeurfiuef
      
