div.title_header
  a(href='/') Sideffects
  div.border_box
    span.text_helper test
  div.nav_horizontal
    img.icon_index(src='/icons/blog_icon.png', alt='blog')
    img.icon_index(src='/icons/projects_icon.png', alt='projects')
    img.icon_index(src='/icons/cv_icon.png', alt='cv')