div.top_header
  span.title Sideffects
  div.border_box
    span.text_helper test
  div.nav_horizontal
    img.icon_index(src='/icons/blog_icon.png', alt='blog')
    img.icon_index(src='/icons/projects_icon.png', alt='projects')
    img.icon_index(src='/icons/cv_icon.png', alt='cv')
  div.sidebar
    img.sidebar_icon(src='/icons/plus_icon.png', alt='new article')