//- ------------------------
//- HEADER.JADE - SIDEFFECTS
//- ------------------------

//- Header
header
  div.container
    div.row
      div.col-lg-12
        <img class="img-responsive" src="img/profile.png" alt="">
        div.intro-text
          <span class="name">SIDEFFECTS</span>
          <hr class="star-light">
          <span class="skills">Tout est pixels</span>
          
