div.top_box
  img.profil(src='/images/profil_picture.gif', alt='profil')
  div.cv
img.top_arrow(src='/icons/arrow_white.png', alt='down')
div.top_header  
  span.title Sideffects
  div.border_box
    span.text_helper test
  div.nav_horizontal
    img.icon_index(src='/icons/blog_icon.png', alt='blog')
    img.icon_index(src='/icons/projects_icon.png', alt='projects')
    img.icon_index(src='/icons/heart_icon.png', alt='love')
  div.sidebar
    img.sidebar_icon(src='/icons/plus_icon.png', alt='new article')