div#modal.hidden
  div.close
    img(src="icons/cancel_icon.png")
    
  div.header
    div.title title
    div.subtitle
  
  div.content
    div.textContent
      p content
    div.infos
    div.clear
      
    a.link(href="")
    div.tag
    img.picture(src="")
    
    
  
