div#modal.hidden
  div.close
    img(src="icons/cancel_icon.png")
    
  div.header
    div.title title
    div.subtitle
  
  div.content
    div.textContent
      p content
    div.infos
    div.clear
    
    a.link(href="")
      img.link-icon(src="https://maxcdn.icons8.com/windows10/PNG/64/Logos/github_copyrighted-64.png" title="GitHub" width="48")
    div.tag
    img.picture(src="")
    
    
  
