//- Navigation
nav.navbar.navbar-default.navbar-fixed-top
  div.container
    //- Brand and toggle get grouped for better mobile display
    div.navbar-header.page-scroll
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span.r-onlyToggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#page-top") Sideffects
              
      //- Collect the nav links, forms, and other content for toggling
      div.collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav.navbar-right
          li.hidden
            a(href="#page-top")
          li.page-scroll
            a(href="#blog") Blog
          li.page-scroll
            a(href="#portfolio") Projets
          li.page-scroll
            a(href="#lessons") Cours
          li.page-scroll
            a(href="#about") À propos
          li.page-scroll
            a(href="#contact") Contact
