//- Portfolio Grid Section
section#portfolio
  div.container
    div.row
      div.col-lg-12.text-center
        h2 Projects
        hr.star-primary
    div.row.items
      //- div.col-sm-4.portfolio-item
        //- a.portfolio-link(href="#portfolioModal1" data-toggle="modal")
        //-   div.caption
        //-     div.caption-content
        //-       i.fa.fa-search-plus.fa-3x
        //-         img.img-responsive(src="img/portfolio/cabin.png" alt="")

                      
//- Portfolio Modal
div#portfolioModal.portfolio-modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
    div.modal-content
        div.close-modal(data-dismiss="modal")
            div.lr
                div.rl
                    
        div.container
            div.row
                div.col-lg-8.col-lg-offset-2
                    div.modal-body
                        h2.project-title Lesson Title
                        hr.star-primary
                        img.img-responsive.img-centered(src="img/portfolio/cabin.png" alt="")
                        p.project-content Lesson content
                        ul.list-inline.item-details
                            li Domaine:
                                strong 
                                    a(href="http://startbootstrap.com") Domaine
                            
                            li Date:
                                strong 
                                    a(href="http://startbootstrap.com") Date
                            
                            li Auteur:
                                strong 
                                    a(href="http://startbootstrap.com") Jérémie Corpinot
                            
                        button.btn.btn-danger(type="button" data-dismiss="modal")
                            i.fa.fa-times Close
