
.container a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color: #3498db;
}
.container a:hover{
	color: #e74c3c;
}
.container a:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;

  bottom:-0.25em;
  height:5px;
  height:0.35rem;
  width:0;
  background:#d73444;
  left:0;
}
.container a:hover:after{
  width:100%;
}

.tags a.tag {
    position: relative;
}
.tags a.tag:after {
    position: relative;
}
