## Ignore some files and folders

# Ignore thumbs images
[Tt]humbs.db

# Ignore log
*.log
*.bin

# Ignore node_modules
node_modules/browser-sync
node_modules/gulp
node_modules/gulp-nodemon
node_modules/livereload
