extend layout
block content
  
  //- Header
  include includes/header
  
  //- Grid
  include includes/grid
  
  //- Fullscreen modal
  include includes/modal
  
  
  //- Footer
  //- include includes/footer
  
  //- Javascript personal files
  script(src='/js/script.js')
  script(src='/js/projects.js')
  script(src='/js/lessons.js')
  script(src='/js/blog.js')
