doctype html

html(lang='fr')
  head
    <meta charset="utf-8" >
    title Sideffects
    link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='js/jquery-2.1.1.min.js')
    script(src='/js/script.js')
    script(src='/js/blog.js')
    script(src='/js/experiments.js')
    script(src='/js/passions.js')

  body
    div#header
      include includes/header
    div#container
      block content
    div#footer
      include includes/footer
