doctype html

html(lang='fr')
  head
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A personal website">
    <meta name="author" content="Jeremie Corpinot">
    link(type="image/png", rel="icon", href="favicon.png" )
    
    title s/deffects
    
    //- Bootstrap Core CSS
    script(src='libs/jquery/jquery-2.1.1.min.js')
    link(href="libs/bootstrap/bootstrap.min.css", rel="stylesheet")
    link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
    
    //- Animate CSS
    link(type='text/css', rel='stylesheet', href='libs/animate/animate.css')
    
    //- <!-- Custom Fonts -->
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', type='text/css')
    link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic')
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    

  body#page-top.index
    div#container
      block content
      
  script(src='libs/bootstrap/bootstrap.min.js')
  //- Grid
  script(src='libs/grid/masonry.pkgd.min.js')
  //- Parallax
  script(src="libs/parallax/jquery.stellar.min.js")
  
