// -----------
// BLOG.STYL
// -----------

#blog {
  // background: black;

  #header {
    height: 500px;
    width: 100%;
    background: blue;
  }

  .blog-post {
    text-align left

    .post-summary {
      font-size 1.5em
    }
  }
}
