// ---------------------------
// CONTAINER.STYL - SIDEFFECTS
// ---------------------------


#container{
  width: center-size;
  margin: auto;
  padding-bottom: 300px;

  transition: 1s;

  .side {
    .box {
      opacity: 0.1;
      cursor: pointer;

      height: 60px;
      width: 60px;

      margin: auto;
      margin-top: 60px;
      background: color-peter-river;

      border-radius: 10px;
      border: 10px solid rgba(0, 0, 0, 0.15);

      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);

      transition: 0.5s;

      &:hover {
        opacity: 1;

        height: 65px;
        width: 65px;

        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);

        transition: 0.5s;
      }
    }

    .dialog {
      background: color-peter-river;
      opacity: 0.7;
    }
  }


  // MESSAGE
  .message {
    color: white;
    text-align: center;

    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;

    border-radius: 4px;
    background: color-emerald;

    .ok {
      width: 40px;
      height: 40px;

      padding: 10px;
      //padding-top: 15px;

      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;

      text-align: center;
      font-size: 1.4em;

      border-style: solid;
      border-width: 1px;
      border-radius: 30px;
      border-color: white;

      cursor: pointer;

      transition: 1s;

      &:hover {
          color: black;
          background: white;

          transition: 1s;
      }
    }
  }

  .about {
    margin-top 100px

    .more {
      width 60px
      margin auto
      cursor pointer
      img {
        height 50px
        width 50px
        transition 0.5s

        -webkit-animation : blink 2s linear 0s infinite alternate;
         -moz-animation   : blink 2s linear 0s infinite alternate;
           -o-animation   : blink 2s linear 0s infinite alternate;
              animation   : blink 2s linear 0s infinite alternate;

        &:hover {
          height 55px
          width 55px
          transition 0.5s
        }
      }
    }

    .icon {
      height 50px
      width 50px
      display block

      margin auto
      margin-bottom 20px

      cursor pointer
      position relative
      transition 0.5s

      &:hover {
        -webkit-transform rotate(180deg)
        -moz-transform rotate(180deg)
        -ms-transform rotate(180deg)
        -o-transform rotate(180deg)
        transform rotate(180deg)
        transition 0.5s
      }
    }

    .me {
      position relative

      font-size 1.3em
      font-family caviar_dreamsregular

      .me-picture {
        height 200px
        width  200px
        overflow hidden
        border-radius 200px
        background color-emerald

        margin auto
        margin-bottom 50px
      }

      .header {
        font-size 3em
        margin-bottom 40px
        text-align center
      }

      .paragraph {
        margin-bottom 20px
      }
    }
  }
}

@-webkit-keyframes blink { from { opacity: 0; } to { opacity: 1; }  }
   @-moz-keyframes blink { from { opacity: 0; } to { opacity: 1; }  }
     @-o-keyframes blink { from { opacity: 0; } to { opacity: 1; }  }
        @keyframes blink { from { opacity: 0; } to { opacity: 1; }  }
