// -----------
// LESSONS.STYL
// -----------

#lessons {
  background #ecf0f1
}

.lessons-list {
  li a {
    color #e74c3c
    cursor pointer
    font-size 1.3em
    text-decoration none
    transition 0.5s

    &:hover {
      color #2ecc71
      transition 0.5s
    }
  }
}

#lessonsModal {
    .lesson-content {
        text-align left
    }
}
