// -----------
// LESSONS.STYL
// -----------

#lessons {
  background #ecf0f1
}

.lessons-list {
  li a {
    color #e74c3c
    cursor pointer
    font-size 1.3em
    text-decoration none
    transition 0.5s

    &:hover {
      color #2ecc71
      transition 0.5s
    }
  }
}

#lessonsModal {
    .lesson-content {
        text-align left

        img[alt="img-cover"] {
            width 700px
            height 50%
            margin auto
        }
    }
}


table
  margin: 0 0 40px 0
  width: 100%
  box-shadow: 0 1px 3px rgba(0,0,0,0.2)
  display: table
  @media screen and (max-width: 580px)
    display: block

thead {
    tr {
      font-weight: 900;
      color: #ffffff;
      background: #ea6153 !important;
  }
}

tr
  display: table-row
  background: #f6f6f6

  &:nth-of-type(odd)
    background: #e9e9e9
  &.green
    background: #27ae60
  &.blue
    background: #2980b9
  @media screen and (max-width: 580px)
    padding: 8px 0
    display: block

th
  padding: 6px 12px
  display: table-cell
  @media screen and (max-width: 580px)
    padding: 2px 12px
    display: block
