.modal-body .item-details strong {
  color: #e74c3c;
}
.img-projects {
  height: 260px;
  width: 260px;
}
.link-icon {
  height: 110px;
  width: 110px;
  cursor: pointer;
  transition: 0.5s;
}
.link-icon:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.tiny-text-blue {
  font-size: 0.6em;
  color: #3498db;
}
