.modal-body .item-details strong {
  color: #e74c3c;
}
.img-projects {
  height: 100%;
  width: 100%;
}
#lessons {
  background: #ecf0f1;
}
.lessons-list li a {
  color: #e74c3c;
  cursor: pointer;
  font-size: 1.3em;
  text-decoration: none;
  transition: 0.5s;
}
.lessons-list li a:hover {
  color: #2ecc71;
  transition: 0.5s;
}
#lessonsModal .lesson-content {
  text-align: left;
}
#lessonsModal .lesson-content img[alt="img-cover"] {
  width: 700px;
  height: 50%;
  margin: auto;
}
table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  table {
    display: block;
  }
}
thead tr {
  font-weight: 900;
  color: #fff;
  background: #ea6153 !important;
}
tr {
  display: table-row;
  background: #f6f6f6;
}
tr:nth-of-type(odd) {
  background: #e9e9e9;
}
tr.green {
  background: #27ae60;
}
tr.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  tr {
    padding: 8px 0;
    display: block;
  }
}
th {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  th {
    padding: 2px 12px;
    display: block;
  }
}
#blog {
  background: #ecf0f1;
}
#error-page {
  background-color: #53c1c0;
  position: fixed !important;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}
#error-inner {
  margin: auto;
}
#error-inner h1 {
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
  font-size: 20px;
}
.pesan-eror {
  width: 200px;
  height: 200px;
  margin: 0 auto 40px;
  background: #ffc754;
  color: #fff;
  font-size: 100px;
  line-height: 200px;
  -moz-border-radius-topleft: 75px;
  -moz-border-radius-topright: 75px;
  -webkit-border-top-left-radius: 75px;
  -webkit-border-top-right-radius: 75px;
  border-top-left-radius: 95px;
  border-top-right-radius: 95px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  position: relative;
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.pesan-eror::after {
  content: " ";
  width: 0;
  height: 0;
  bottom: -17px;
  border-color: #ffc754 transparent transparent;
  border-style: solid;
  border-width: 20px 20px 0;
  position: absolute;
  left: 40%;
}
.balik-home {
  position: relative;
  margin: 20px auto;
  display: block;
  padding: 10px 15px 10px 15px;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 30px;
  background: #f26964;
  border: 0;
  color: #fff;
  border-radius: 3px;
  outline: none;
  width: 600px;
  height: 60px;
  cursor: pointer;
}
.balik-home:hover {
  background: none;
}
.balik-home:after,
.balik-home:before {
  position: absolute;
  background: #285677;
  content: "";
  width: 0%;
  height: 100%;
  bottom: 0px;
  left: 0;
  z-index: -999999999;
  border-radius: 3px;
}
.balik-home:before {
  background: #f26964;
  width: 100%;
}
.balik-home:hover:after {
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.balik-home a {
  color: #fff;
  text-decoration: none;
}
@-moz-keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-o-keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}
.link-icon {
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition: 0.5s;
}
.link-icon:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.tiny-text-blue {
  font-size: 0.6em;
  color: #3498db;
}
#about .profile {
  height: 230px;
  width: 230px;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.5s;
}
#about .profile:hover {
  height: 240px;
  width: 240px;
  transition: 0.5s;
}
