// -----------
// STYLE.STYL
// -----------
@import variables
@import projects
@import lessons
@import blog
@import notfound

html, body {
    background #eee
}

#main-grid {
    padding 40px 120px

    &.hidden {
        display none
    }
    &.visible {
        display block
    }

    .grid-item {
        width 240px
        height 240px

        margin 10px 0
        cursor pointer
        overflow hidden

        // When the item is a bubble
        // scale its background on hover
        &.bubble:hover {
            .grid-item-bg {
                transform scale(1.1)
            }
        }

        .grid-item-bg {
            height 100%
            width 100%
            z-index 1

            &.bubble {
                height 60%
                width 60%
                border-radius 60%

                margin auto
                margin-top 20px
                transition cubic-bezier(0.82, 1.82, 0.56, 1.57) .2s
            }

            &.blue {
                background #3498db
            }

            &.red {
                background #EF4836
            }

            &.green {
                background #87D37C
            }

            &.yellow {
                background #F7CA18
            }

            &.orange {
                background #F9690E
            }

            &.pink {
                background #DB0A5B
            }

            &.purple {
                background #913D88
            }

            &.white {
                background white
            }
        }

        .grid-item-txt {
            height 100%
            width 100%
            padding 20px

            top 0
            left 0
            position absolute
            border 0 solid rgba(4, 4, 3, 0.3)

            z-index 2
            transition .5s

            &.white {
                color white
                border 0 solid white
            }

            &.red {
                color #EF4836
                border 0 solid #EF4836
            }

            &.green {
                color #87D37C
                border 0 solid #87D37C
            }

            &.yellow {
                color #F7CA18
                border 0 solid #F7CA18
            }

            &.orange {
                color #F9690E
                border 0 solid #F9690E
            }

            &.pink {
                color #DB0A5B
                border 0 solid #DB0A5B
            }

            &.purple {
                color #913D88
                border 0 solid #913D88
            }

            &:hover {
                border-width 2px
                transform scale(0.9)
                transition .4s
            }

            // Mainly used for project sections
            &.bubble {
                padding 0
                margin 10px auto
                position relative
                text-align center
                font-size 1.4em
                font-weight 900

                height 40px
                width 100%
                display block
                color rgba(4, 4, 3, 0.4)

                &:hover {
                    border-width 0
                    transform scale(1)
                    transition .4s

                }
            }
        }

        .grid-item-icon {
            width 40%;
            height 40%
            z-index 2

            top 18%
            left 30%
            position absolute
        }

        &.large {
            height 400px
            width 70%
        }

        &.long {
            height 500px
        }
    }
}

#modal {
    height 100%
    width 100%
    background #eee

    top 0
    left 0
    position absolute

    padding 100px 100px
    z-index 3

    &.visible {
        display block
    }

    &.hidden {
        display none
    }

    .close img {
        height 50px
        width 50px
        transition cubic-bezier(0.26,-0.01, 0, 1.1) 1s

        &:hover {
            transform rotate(360deg)
            // transition ease-in .4s
        }
    }

    .header {
        margin 20px 0

        .title {
            font-size 3em
        }
        .subtitle {
            font-size: 1.3em
        }

    }

    .content {
        overflow hidden

        .textContent{
            width 60%
            font-size 1.5em
        }

        .infos {
            top 150px
            right 150px
            position absolute
            font-size 8em
        }
    }

    .link {
        float
        display block
    }

    .picture {
        max-height 90%
        max-width 90%

        margin 80px 0
        border 10px solid white
        border-radius 10px

        cursor pointer

        opacity .5
        transition .4s

        &:hover {
            opacity 1
            transition .4s
        }
    }
}

header {
    top 20px
    left 120px
    position relative
    height 80px
    width 40%

    color rgba(4, 4, 3, 0.3)
    cursor pointer
    transition .5s

    &:hover {
        color black
        transition .5s

        .header-icon {
            transform rotate(360deg)
        }
    }

    .header-icon {
        height 30px
        width 30px
        display inline-block
        transition .5s
    }
    .header-title {
        top 7px
        left 7px
        position relative
        display inline-block
    }
}
