// -----------
// STYLE.STYL
// -----------
@import variables
@import projects
@import lessons
@import blog
@import notfound

.link-icon {
  height 60px
  width 60px
  cursor pointer
  transition: 0.5s

  &:hover {
    opacity: 0.5
    transition: 0.5s
  }
}

.tiny-text-blue {
  font-size: 0.6em
  color: dogerblue
}

#about {
  .profile {
    height 230px
    width 230px
    border-radius 200px
    cursor pointer
    transition 0.5s

    &:hover {
      height 240px
      width 240px
      transition 0.5s
    }
  }
}
