// Variables

brand-primary = #2C3E50;
// brand-primary = #e74c3c
// brand-success = #18BC9C;
brand-success = #3498db;
gray-lighter = lighten(#000, 93.5%);
dogerblue = #3498db;
clouds-color = #ecf0f1;
