/*-------------------*/
/*-----VARIABLES-----*/
/*-------------------*/
center-size = 32%
main-font = aleolightitalic
second-font = aleolight
color-alizarin = #e74c3c
color-peter-river = #3498db
color-emerald = #2ecc71
color-belize-hole = #2980b9
color-silver = #bdc3c7
