@import 'material.css';
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: open_sanslight;
  font-weight: 400;
}
#container {
  min-height: 100%;
  position: relative;
}
#header {
  height: 5px;
  padding: 5px;
  background: #be3757;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
#header:hover {
  height: 80px;
  transition: 0.5s;
}
#body {
  padding: 10px;
  padding-bottom: 220px;
}
#body .report {
  width: 600px;
  margin: auto;
  font-size: 1.5em;
}
#body .report h1#data-mining-presentation {
  font-size: 4em;
  text-align: center;
  margin-bottom: 100px;
}
#body .report h1,
#body .report h2 {
  margin-top: 50px;
  display: block;
}
#body .report h3 {
  margin-top: 20px;
  display: block;
}
#body .report h1,
#body .report h2,
#body .report h3,
#body .report h4,
#body .report h5,
#body .report h6 {
  font-size: 2em;
}
#body .report .authors {
  width: 280px;
  margin: auto;
}
#body .report .authors ul {
  list-style-type: none;
}
#body .report img {
  max-width: 600px;
  max-height: 600px;
  cursor: pointer;
  border-style: solid;
  border-width: 15px;
  border-color: #eee;
  border-radius: 5px;
  transition: 0.5s;
}
#body .report .code-visible {
  max-height: 600px;
  transition: 0.5s;
}
#body .report .code-hidden {
  max-height: 0px;
  transition: 0.5s;
}
#body .container-summary {
  top: 440px;
  position: fixed;
  padding: 10px;
  overflow: hidden;
  max-width: 300px;
  max-height: 300px;
  transition: 0.5s;
}
#body .container-summary:hover {
  transition: 0.5s;
}
#body .container-summary .button-summary {
  opacity: 0.5;
  transition: 0.5s;
}
#body .container-summary .button-summary:hover {
  opacity: 1;
  transition: 0.5s;
}
#body .container-summary .summary-title {
  font-size: 1.8em;
}
#body .container-summary .side-bar {
  top: 66px;
  left: 0;
  position: absolute;
  width: 5px;
  height: 100%;
  background: #2980b9;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  transition: 0.5s;
  background: #eee;
}
#footer:hover {
  height: 180px;
  transition: 0.5s;
}
.toggle {
  margin-left: 80px;
  margin-bottom: 10px;
}
.toggled {
  opacity: 1;
  overflow: hidden;
  transition: 0.5s;
}
.toggled-visible {
  max-height: 500px;
  transition: max-height 0.5s;
}
.toggled-hidded {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("./fonts/OpenSans-Light-webfont.eot");
  src: url("./fonts/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'), url("./fonts/OpenSans-Light-webfont.woff") format('woff'), url("./fonts/OpenSans-Light-webfont.ttf") format('truetype'), url("./fonts/OpenSans-Light-webfont.svg#open_sanslight") format('svg');
  font-weight: normal;
  font-style: normal;
}
