doctype html
html(lang="fr")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Data Mining
    meta(name="description" content="Data Mining Project")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(type='text/css', rel='stylesheet', href='./modules/datamining/datamining.css')

  body
    div#container
      div#header
        h1 acsis
      div#body
        script(src='js/jquery-2.1.1.min.js')
        script(src="./modules/datamining/datamining.js")
        
      div#footer
