extend ../layout
block content
  a.message404(style='font-size:3em; text-align: center; cursor:pointer; opacity: 1;', href="javascript:history.go(-1)")
    h1 404
    p You lost in the space time...Please go back.

  style a.message404{ transition: 1s; } a.message404:hover{ color:#27ae60; opacity: 1.0; transition: 1s; }