doctype html
html
  head(lang="fr")
    title= 's/deffects // blog'
    meta(charset='utf-8')
    link(rel='stylesheet', href='/libs/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/blog/stylesheets/blog.css')
    link(rel='stylesheet', href='/blog/stylesheets/clean-blog.css')
    link(rel='stylesheet', href='/libs/prismjs/prism.css')
    link(rel='stylesheet', href='/blog/stylesheets/links.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')

  body#blog
    //- <!-- Navigation -->
    include includes/nav.pug

    include includes/header.pug

    //- <!-- Main Content -->
    div(class="container")
      div(class="row")
        div(class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1")
          block content

          //- <!-- Pager -->
          ul(class="pager")
            li(class="next")
              a(href="#") Older Posts &rarr;

    include includes/footer.pug

    script(src="/libs/jquery/jquery.js")
    script(src="/libs/bootstrap/bootstrap.min.js")
    script(src="/blog/js/clean-blog.min.js")
    script(src="/blog/js/blog.js")

    //- Prism code highlight
    script(src="/libs/prismjs/prism.js")
