html, body {
    font-family: Montserrat;
    // font-family: Lato;
    background: black;
    width: 768px;
}

.bg {
  opacity: .5;
}

.quote {
    position absolute;
    font-size 3.5em;
    color white;

    width: 728px;
    padding: 60px;

    z-index: 2;

    .content {
      display: block;
    }

    .author {
      display: block;
      font-size: 0.7em;
    }

    .ref {
      display: block;
      font-size: 0.5em;
    }
}
